header{
    background-color: rgb(255, 255, 255);
    position: fixed;
    width: 100%;  
    z-index: 99;
}

.div-sx, .div-dx{
    
    display: inline-block;
    vertical-align: middle;

}
.div-logo{
    width: 10%;
    float: left;
    padding: 15px 0px;
    min-height: 60px;
    text-align: center;
}

.div-sx{
    width: 60%;
    float: left;
}
.div-dx{
    float: right;
    width: 30%;
    text-align: right;
}
header ul{
    display: inline-block;
}
header ul li{
    display: inline-block;
    /* padding: 5px 10px; */
    padding-left: 10px;
}
header ul li a{
    display: inline-block;
    padding: 20px 10px;
    text-decoration: none;
    color: black;
}
.button{
    padding: 5px 20px;
    color: white;
    background-color: #0061FF;
    text-decoration: none;
}
.inizia{
    margin: 0px 20px 0px 10px;
}






















.hero{
    background-color: #B4D0E7;       
}
.medium-container{
    max-width: 1500px;
    /* max-width: 1370px; */
    width: 100%;
    margin: auto;
}


.col_3-9 p{
    padding: 30px 0px;

}
.col_6-9 img{
    width: 100%;
    padding: 30px
}
.col_3-9 div:last-child{
    margin-top: 15px;
}
.medium-container{
    transform: translateY(15%);
}





.small-container{
    max-width: 1200px;
    width: 100%;
    margin: auto;
    /* border-left: 1px solid grey;
    border-right: 1px solid grey; */
}
.small-container .invoice-option{
    padding: 50px 0px 30px 0px;
}
.small-container h2{
    padding-top: 30px;
}

.main-section{
    padding-top: 100px;
}
.invoice-option span{
    padding-right:10px;
}
.radio-input{
    padding-right: 5px;
}

/* temporaneo */
/* .container-colonne .col_3-9{
   border: 1px solid red; 
} */
.container-colonne{
    list-style-type: none;
    margin: 0px -20px;
    
}

.container-colonne ul{
    list-style-type: none;
}





.contenuto-colonne{
    /* padding: 0px 20px; */
    margin: 0px 20px;
    
}
.plan-section .contenuto-colonne{
    padding: 0px 20px;
    margin: 0px 20px;
    border: 1px solid lightslategray;
}




.plan-type{
    margin:0px -20px ;
    vertical-align: middle;
    text-align: center;
    padding: 10px 0px;
    border-bottom: 1px solid grey;
}

.contenuto-colonne h3{
    padding-top: 30px;
    padding-bottom: 10px;
}
.contenuto-colonne h4{
    padding:10px 0px
}
.grey-text{
    color: rgb(139, 139, 139);
}

.plan-details{
    padding: 30px 0px;
}
.plan-details li{
    padding: 10px 0px;
}


.buy-now{
    padding: 40px 0px;
}
.buy-now a{
    color: #0f8bff;
    text-decoration: underline;
}
.contenuto-colonne hr{
    width: 50px;
}
.list2{
    padding: 30px 0px;

}
.list2 span i{
    color:#399ffd;
}
.list2 span {
    margin-left: -20px;
    padding-right: 5px;
}
.list2 li{
    padding: 10px;
    padding-left: 20px;
 
}
.list2 li:first-child{
    padding-left: 0px;
}

.black-text{
    color: black;
    
}

.contact{
    text-align: center;
}
.contact a{
    text-align: center;
    color: white;
    text-decoration: none;
}
.col_full-width .contenuto-colonne{
    width: 100%;
    
}
.col_full-width{
    padding: 60px 0px;
}
.col_full-width .col_6-9{
    padding-bottom: 20px;
}
.col_5-9 img{
    width: 100%;
    padding: 0px 10px;
}


.find-a-partner-section{
    padding:50px 0px
}
.find-a-partner-column-content{
    padding: 20px 10px 20px 20px;
}

.col_4-9 .find-a-partner-column-content p{
    padding: 25px 0px;
    padding-right: 80px;
    line-height: 28px;
}
.find-a-partner-column-content h3{
    padding-top: 30px;
    padding-right: 30px;
}
.find-a-partner-column-content button{
    padding: 5px 20px;
    background-color: white;
    text-decoration: none;
}
.find-a-partner-column-content a{
    text-decoration: none;
    color: black;
    
}
.dropbox-business-service{
    padding-bottom: 40px;
}
.dropbox-business-service h2{
    padding: 40px 0px;
}
.column-container-dropbusiness img{
    width: 100%;
}
.column-container-dropbusiness p{
    padding-right: 40px;
}
.column-container-dropbusiness p{
    padding-right: 50px;
}
.column-container-dropbusiness{
    padding: 0px 20px;
    margin: 0px 20px;
    
}
.teams{
    width: 100%;
/*     background-color: #BBD5E9;
 */    
}
.teams-section{
    width: 100%;
}

.teams-section > div::after{
    content:"";
    display: table;
    clear: both;
}
.teams-section > div{
    float: left;
      
}
.teams-section > div .square{
    float: left;
    width: 50%;
    height: calc(30vw / 2 - 58px);
    
    padding: 15px;
    position: relative;
}
.teams-section > div:nth-child(odd){
    width: 25%;
}
.teams-section > div:nth-child(2){
    width: 50%;
}




.centro{
    padding: 40px;   
}
.centro img{
    width: 150px;
}
.centro p{
    padding: 60px 0px;
    padding-right: 60px;
}
.sinistra .square img, .destra .square img{
    max-width: 80%;
    filter: invert(100%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}




.free-trial-section{
    padding: 100px 0px;
}
.free-trial-section h2{
    padding-right: 30%;
}

.full-width-back{
    width: 100%;
    background-color: #BBD5E9;
}
