header{
    background-color: rgb(93, 138, 104);
    position: fixed;
    width: 100%;  
}
.div-sx{
    width: 50%;
    float: left;
}
.div-dx{
    float: left;
    width: 50%;
    text-align: right;
}
header div a{
    padding: 0px 20px;
    vertical-align: middle;
}
header ul{
    display: inline-block;
    vertical-align: middle;
}
header ul li{
    display: inline-block;
    list-style-type: none;
    
}
header ul a{
    display: inline-block;
    text-decoration: none;
    line-height: 70px;
    color: black;
    

}