header{
    background-color: rgb(255, 255, 255);
    position: fixed;
    width: 100%;  
}
header li a{
    font-size: 14px;
}
.div-sx{
    width: 50%;
    float: left;
}
.div-dx{
    float: left;
    width: 50%;
    text-align: right;
    
}
.div-dx li:last-child{
    padding:0px 15px;
}
.div-sx a img{
    width: 100px;
    vertical-align: middle;
    padding-left: 15px;
}
header div a{
    vertical-align: middle;
}
header ul{
    display: inline-block;
    vertical-align: middle;
    padding: 20px 0px;
}
header ul li{
    display: inline-block;
    list-style-type: none;
    
    
}
header ul a{
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 0px 15px;
}
.button{
    background-color: #0061FF;
    color: white;
}




.hero{
    background-color: rgb(0, 92, 134);       
}
.medium-container{
    width: 1400px;
    margin: auto;
}
main section{
    padding-top: 65px;
}
.col_6-9 img{
    width: 300px;
}